/*---------------------GLOBALES---------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;/*Reset rem -> 1 rem = 10px*/
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(163deg, transparent 0px, transparent 1px, #222 1px, #222 14px, transparent 14px), linear-gradient(161deg, transparent 0px, #181818 1px, #222 2px, #222 15px, transparent 15px), linear-gradient(343deg, transparent 0px, transparent 1px, #222 1px, #222 14px, transparent 14px), linear-gradient(343deg, transparent 0px, transparent 1px, #222 1px, #222 14px,
    transparent 14px);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%, 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%, 0%;
    background-size: auto, auto, auto, auto;
    background-color:#121212;
    background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px;
    background-size: 48px 30px;
    color: #b0b0b0;
}
a {
    color: #b0b0b0;
    text-decoration: none;
}
h1 {
    font-size: 3.4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.6rem;
}
img {
    max-width: 100%;
}
table {
    width: 100%;
	border-collapse: collapse;
	text-align: center;
}
td, th {
	border-bottom: 1px solid #2b2b2b;
	padding: 20px;
}
th, td {
	font-size: 1.8rem;
}
/*---------------------UTILIDADES---------------------*/
.container {
    max-width: 120rem;
    margin:0 auto;
}
.margin-top-2 {
    margin-top: 2rem;
}
.center-text {
    text-align: center;
}
.box-shadow-black {
    moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/*---------------------NAVEGATION---------------------*/
.navegation {
    background-color: #262525;
}
.navegation ul {
    list-style: none;
    display: flex;
}
.navegation ul li a {
    display: block;
    padding: 1.5rem 3rem;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.navegation ul li a:hover {
    color: #cdcdcd;
    background-color: #383838;
}
.navegation ul li:last-of-type {
    margin-right: 0;
}
/*---------------------MAIN---------------------*/
.container-search,
.main .new-paste,
.configurations,
.login,
.recover-password,
.register {
    background-color: #262525;
    padding: 2rem;
}
.form-search {
    display: flex;
}
.form-search .search {
    flex-basis: 85%;
    margin-right: 2rem;
}
.form-search .btn-search {
    flex-basis: 15%;
}
.main .pastes {
    background-color: #262525;
}
.pagination ul {
    list-style: none;
    display: flex;
}
.pagination a {
    background-color: #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 0 7px 0 0;
    color: #ddd;
    padding: 7px 10px 5px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.pagination a:hover {
    color: #ddd;
    background-color: #555;
}
/*---------------------NEW---------------------*/
.main .field-tab .content {
    display: none;
}
.main .field-tab .content.active {
    display: block;
}
.new-paste form,
.new-paste .field-tab .content.active,
.new-paste .type-paste {
    display: grid;
    gap: 2rem 0;
}
.type-paste {
    width: 50%;
}
/*---------------------CONFIGURATIONS---------------------*/
.config-admin,
.config-site,
.config-advertising,
.config-modules {
    display: grid;
    gap: 2rem 0;
}
.config-modules {
    width: 50%;
}
.save-changes {
    margin-top: 2rem;
    width: 100%;
}
/*---------------------LOGIN---------------------*/
.login form {
    display: grid;
    gap: 2rem 0;
}
/*---------------------RECOVER PASSWORD---------------------*/
.recover-password form {
    display: grid;
    gap: 2rem 0;
}
/*---------------------USER REGISTER---------------------*/
.register form {
    display: grid;
    gap: 2rem 0;
}
/*---------------------FOOTER---------------------*/
.footer {
    padding: 2rem;
    background-color: #262525;
    margin-bottom: 2rem;
}
/*---------------------INPUTS---------------------*/
::-webkit-input-placeholder { color: #cdcdcd; }
:-ms-input-placeholder { color: #cdcdcd; }
:-moz-placeholder { color: #cdcdcd; }
::-moz-placeholder { color: #cdcdcd; }
input, textarea {
    color: #cdcdcd;
}
textarea {
    min-width: 100%;
    min-height: 30rem;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea {
    background-color: #555;
    padding: 1rem 2rem;
    border: 1px solid #2e2e22;
}
input[type="submit"] {
    border: 0;
    cursor: pointer;
    padding: 1rem 2rem;
    background: #834242;
    border-bottom: 3px solid #653232;
    color: #fff;
}
input[type="submit"]:hover {
    background: #994e4e;
    border-bottom: 3px solid #793e3e;
}
.content-select {
    position: relative;
}
.content-select select {
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	display: inline-block;
    cursor: pointer;
    width: 100%;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #555;
	color: #cdcdcd;
	border: 2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
}
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #cdcdcd;
	border-bottom:4px solid #cdcdcd;
	transform: rotate(-45deg); /* Giramos el cuadrado */
}